#settings-table td p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#settings-table td p:last-of-type {
  margin-bottom: 0;
}

#settings-table input[type=text], #settings-table textarea {
  width: 100%;
}

.super-settings-key {
  overflow-wrap: break-word;
  max-width: 20rem;
}

.super-settings-value {
  overflow-wrap: break-word;
  max-width: 20rem;
}

.super-settings-value-type {
  width: 7rem;
}

.super-settings-description {
}

.super-settings-controls {
  width: 6rem;
  white-space: nowrap;
  text-align: right;
}

.super-settings-modal {
  z-index: 3;
  display: none;
  padding-top: 5rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.super-settings-modal-dialog {
  margin: auto;
  background-color: #fff;
  position: relative;
  outline: 0;
  padding: 2em;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  width: 80%;
  height: 80%;
}

.super-settings-modal-content {
  height: 100%;
  overflow: auto;
}

.super-settings-modal-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 1ex;
  background-color: inherit;
  font-size: 1.5rem;
  font-weight: 500;
}

.super-settings-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.super-settings-text-nowrap {
  white-space: nowrap !important;
}

.super-settings-super-settings-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
