<style>
  .super-settings-edit {
    max-width: 40rem;
  }
  .super-settings-edit-field {
    margin-bottom: 1rem;
  }
  .super-settings-edit-field label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 600;
  }
  .super-settings-edit-field input[type="text"],
  .super-settings-edit-field input[type="number"],
  .super-settings-edit-field input[type="date"],
  .super-settings-edit-field input[type="time"],
  .super-settings-edit-field select,
  .super-settings-edit-field textarea {
    box-sizing: border-box;
    width: 100%;
    font: inherit;
  }
  .super-settings-edit-field input[type="date"],
  .super-settings-edit-field input[type="time"] {
    width: auto;
  }
  .super-settings-edit-actions {
    margin-top: 1.5rem;
  }
  .super-settings-edit-errors {
    color: firebrick;
  }
  .super-settings-edit-flash-success {
    color: green;
  }
  .super-settings-edit-flash-error {
    color: firebrick;
  }
</style>

<div class="super-settings-edit" data-api-base-url="<%= html_escape(api_base_url) %>">
  <form onsubmit="return false">
    <div class="super-settings-edit-field">
      <label for="super-settings-edit-key">Name</label>
      <input type="text" id="super-settings-edit-key" maxlength="190" required placeholder="Setting key" autocomplete="off" autocapitalize="off">
    </div>

    <div class="super-settings-edit-field">
      <label for="super-settings-edit-value">Value</label>
      <div id="super-settings-edit-value-container"></div>
      <div class="super-settings-edit-errors" id="super-settings-edit-errors" style="display:none;"></div>
    </div>

    <div class="super-settings-edit-field">
      <label for="super-settings-edit-value-type">Type</label>
      <select id="super-settings-edit-value-type">
        <% SuperSettings::Setting::VALUE_TYPES.each do |value_type| %>
          <option value="<%= html_escape(value_type) %>"><%= html_escape(value_type) %></option>
        <% end %>
      </select>
    </div>

    <div class="super-settings-edit-field">
      <label for="super-settings-edit-description">Description</label>
      <textarea id="super-settings-edit-description" rows="3" placeholder="Description of this setting" autocomplete="off"></textarea>
    </div>

    <div class="super-settings-edit-actions">
      <button type="button" id="super-settings-edit-save">Save</button>
      <strong id="super-settings-edit-flash" style="display:none; margin-left:1rem;"></strong>
    </div>
  </form>
</div>

<template id="edit-value-string">
  <textarea class="js-setting-value" rows="4" autocomplete="off" autocapitalize="off"></textarea>
</template>

<template id="edit-value-integer">
  <input type="number" step="1" class="js-setting-value" autocomplete="off">
</template>

<template id="edit-value-float">
  <input type="number" step="any" class="js-setting-value" autocomplete="off">
</template>

<template id="edit-value-datetime">
  <span>
    <input type="date" class="js-date-input" autocomplete="off">
    <input type="time" class="js-time-input" autocomplete="off">
    <input type="hidden" class="js-setting-value">
    <small>Time Zone: <span class="js-timezone"></span></small>
  </span>
</template>

<template id="edit-value-boolean">
  <span>
    <input type="checkbox" class="js-setting-value" value="true">
    <label>Enabled</label>
  </span>
</template>

<template id="edit-value-array">
  <textarea class="js-setting-value" rows="8" placeholder="one entry per line"></textarea>
</template>

<%= edit_javascript_tag %>
