name: Continuous Integration
on:
  push:
    branches:
      - main
      - actions-*
  pull_request:
    branches-ignore:
      - actions-*
  workflow_dispatch:

env:
  BUNDLE_CLEAN: "true"
  BUNDLE_PATH: vendor/bundle
  BUNDLE_JOBS: 3
  BUNDLE_RETRY: 3
  TEST_REDIS_URL: default
  TEST_S3_URL: default
  TEST_MONGODB_URL: default
jobs:
  specs:
    name: ruby-${{ matrix.ruby }} ${{ matrix.appraisal }}
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      minio:
        image: minio/minio:edge-cicd
        ports:
          - 9000:9000
        env:
          MINIO_ROOT_USER: accesskey
          MINIO_ROOT_PASSWORD: secretkey
        options: >-
          --health-cmd "curl -f http://localhost:9000/minio/health/live"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mongodb:
        image: mongo
        ports:
          - 27017:27017
        options: >-
          --health-cmd "echo 'db.runCommand("ping").ok' | mongosh --quiet"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "ruby"
            standardrb: true
            yard: true
          - ruby: "ruby"
            appraisal: "no_extensions"
          - ruby: "3.3"
            appraisal: "rails_8.0"
          - ruby: "3.2"
            appraisal: "rails_7.2"
          - ruby: "3.2"
            appraisal: "rails_7.1"
          - ruby: "3.1"
            appraisal: "rails_7.0"
          - ruby: "3.0"
            appraisal: "rails_6.1"
          - ruby: "2.7"
            appraisal: "rails_6.0"
          - ruby: "2.6"
            appraisal: "rails_5.2"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Setup bundler
        if: matrix.bundler != ''
        run: |
          gem uninstall bundler --all
          gem install bundler --no-document --version ${{ matrix.bundler }}
      - name: Set Appraisal bundle
        if: matrix.appraisal != '' && matrix.gemfile == ''
        run: |
          echo "using gemfile gemfiles/${{ matrix.appraisal }}.gemfile"
          bundle config set gemfile "gemfiles/${{ matrix.appraisal }}.gemfile"
          cat gemfiles/${{ matrix.appraisal }}.gemfile
      - name: Install bundle
        run: |
          bundle update
      - name: Run specs
        env:
          FERRUM_PROCESS_TIMEOUT: "30"
        run:  bundle exec rake spec
      - name: Run standardrb
        if:   matrix.standardrb == true
        run:  bundle exec standardrb
      - name: yard
        if: matrix.yard
        run:  bundle exec yard --fail-on-warning
